*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    height: 100px;
    background-color: rgb(15, 15, 15);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: rgb(231, 189, 111);
    font-weight: 200;
}

.menu a{
    color: rgb(231, 189, 111);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0,4s;
}

.mostrar,
.esconder{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.6s;
}

.mostrar{
    order: 1;
}

.menu a:hover,
.mostrar:hover,
.esconder:hover{
    color: rgb(169, 233, 212);
    
}

#check{
    display: none;
}




#cuerpo{
    padding: 0 50px;
    background-image: url(./imagenes/imagen.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
#cuerpo::before{
    content: "";
    background: rgba(77, 77, 92, 0,6);
    position: absolute;
    width: 100%;
    height: 90vh;
    left: 0;
}

.contenido{
    position: relative;
    color: rgb(231, 189, 111);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.contenido h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
   background-color: black;
   align-self: baseline;

}

.contenido h3 span{
    font-weight: 600;
}


.boton{
    text-decoration: none;
    color: rgb(7, 7, 7);
    border: 1px solid rgb(231, 189, 111);
    padding: 20x 40px;
    align-self: baseline;
    background-color: rgb(240, 226, 199);

}
.boton:hover{
    background-color: rgb(231, 189, 111);
    transition: all 0.4s;
}


.reservar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:rgb(231, 189, 111);
}

.reservar button{
    border: none;
    border-radius: 7px;
    background-color: rgb(231, 189, 111);
    width: 80px;
}
.reservar button:hover{
    background-color: rgb(236, 218, 185);
    transition: all 0.4s;
}

/*Responsive*/
@media(max-width:600px){
    .mostrar,
    .esconder{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(168, 145, 145) ;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;

    }

    .menu a{
        display: block;
        padding: 20px;

    }


    .esconder{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;

    }

}